@charset "UTF-8";


#mainContainer {
    display: flex;
    flex-direction: column;
    width: 1600px;
}

#menu_Tab {
    text-decoration: none;
    list-style: none;
    display: flex;
    width: 1600px;
    height: 120px;
}

#contents_Box {
    width: 1600px;
    display: flex;
    flex-direction: column;
}

#warn_text {
    width: 1600px;
}

#top_banner {
    width: 1600px;
    height: 180px;
    display: block;
    cursor: pointer;
}

