<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.smg.mapper.CartMapper">
	<select id="getCartContent" resultType="String">
		SELECT cart_content FROM carts where user_num=#{user_num}
	</select>
	
	<update id="deleteGame" parameterType="String">
		UPDATE carts SET cart_content=#{cart_content} WHERE user_num=#{user_num}
	</update>
	
	<delete id="deleteCart" parameterType="int">
		DELETE FROM carts WHERE user_num=#{user_num}
	</delete>
</mapper> 