<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.smg.mapper.CommentsMapper">
	<select id="getGameCommentList" parameterType="int" resultType="com.ezen.smg.dto.Comments">
		select * from comments inner join smg_users using(user_num) where game_id=#{game_id}
	</select>
</mapper> 