<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.ezen.smg.mapper.FAQmapper">
 	<select id="getFAQList" parameterType="int" resultType="com.ezen.smg.dto.QnADTO">
 		SELECT * FROM (SELECT rownum AS rn, a.* FROM qna a) WHERE rn BETWEEN #{start} AND #{end}
 	</select>
 	<select id="getFAQTopicList" resultType="com.ezen.smg.dto.QnADTO">
 		SELECT * FROM (SELECT rownum AS rn, a.* FROM qna a WHERE qna_topic = #{topic}) WHERE rn BETWEEN #{start} AND #{end}
 	</select>
 	<select id="getFAQSearchList" resultType="com.ezen.smg.dto.QnADTO">
 		SELECT * FROM (SELECT rownum AS rn, a.* FROM qna a WHERE qna_title LIKE '%' || #{search} || '%') WHERE rn BETWEEN #{start} AND #{end}
 	</select>
 	<select id="getTotalNum">
 		SELECT count(*) FROM qna
 	</select>
 	<select id="getTopicNum" parameterType="String">
 		SELECT count(*) FROM qna WHERE qna_topic = #{topic}
 	</select>
 	<select id="getSearchNum" parameterType="String">
 		SELECT count(*) FROM qna WHERE qna_title LIKE '%' || #{search} || '%'
 	</select>
 	<select id="getFAQ" parameterType="int" resultType="com.ezen.smg.dto.QnADTO">
 		SELECT * FROM qna WHERE qna_id = #{id}
 	</select>
 	<update id="updateFAQ" parameterType="com.ezen.smg.dto.QnADTO">
 		UPDATE qna SET qna_title=#{dto.qna_title}, qna_content=#{dto.qna_content}, qna_topic=#{dto.qna_topic} WHERE qna_id=#{dto.qna_id}
 	</update>
 	<insert id="addFAQ" parameterType="com.ezen.smg.dto.QnADTO">
 		INSERT INTO qna (qna_id, qna_title, qna_content, qna_topic) VALUES (
 			qna_id_seq.nextval, #{dto.qna_title}, #{dto.qna_content}, #{dto.qna_topic}
 		)
 	</insert>
 	<delete id="deleteFAQ" parameterType="int">
 		DELETE FROM qna WHERE qna_id=#{qna_id}
 	</delete>
 </mapper>