<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.smg.mapper.GamesMapper">
	<select id="getAllGames" resultType="com.ezen.smg.dto.Games">
		SELECT * FROM games ORDER BY ${sort_by}
	</select>
	
	<select id="getNewSortGames" resultType="com.ezen.smg.dto.Games">
		SELECT * FROM (SELECT rownum AS rn, a.* FROM games a order by release_date desc) WHERE rn BETWEEN #{start} AND #{end}
	</select>
	
	<select id="getGame" resultType="com.ezen.smg.dto.Games">
		SELECT * FROM games where game_id=#{game_id}
	</select>
	
	<select id="getFilteredGames"
		resultType="com.ezen.smg.dto.Games" parameterType="java.util.List">
		SELECT * FROM games
		WHERE 1=1
		<if test="editor != null and editor.size() > 0">
			AND editor IN
			<foreach collection="editor" item="editor" separator=","
				open="(" close=")">
				#{editor}
			</foreach>
		</if>
		<if test="genre != null and !genre.isEmpty()">
			AND REGEXP_LIKE(game_genre, #{genre})
		</if>
		<!-- <if test="game_name != null and !game_name.isEmpty()">
			AND game_name LIKE '%' || #{game_name} || '%'
		</if> -->
		ORDER BY ${sortBy}
	</select>

	<select id="getLatestGameList" resultType="com.ezen.smg.dto.Games">
		SELECT * FROM (SELECT * FROM games ORDER BY release_date DESC) WHERE rownum &lt;= 4
	</select>

	<select id="getEditorRecmdList" resultType="com.ezen.smg.dto.Games">
		SELECT * FROM games WHERE editor = #{editor}
	</select>
	
	<select id="getLargestDiscountList" resultType="com.ezen.smg.dto.Games">
		SELECT * FROM (SELECT * FROM games ORDER BY discount DESC) WHERE rownum &lt;= 10
	</select>
	
	<select id="getEditors">
		SELECT DISTINCT editor FROM games WHERE NOT editor IN('curator')
	</select>
	
	<select id="getSearchGames"
		resultType="com.ezen.smg.dto.Games" parameterType="java.util.List">
		SELECT * FROM games
		WHERE 1=1
		<if test="editor != null and editor.size() > 0">
			AND editor IN
			<foreach collection="editor" item="editor" separator=","
				open="(" close=")">
				#{editor}
			</foreach>
		</if>
		<if test="genre != null and !genre.isEmpty()">
			AND REGEXP_LIKE(game_genre, #{genre})
		</if>
		<if test="game_name != null and !game_name.isEmpty()">
			AND game_name LIKE '%' || #{game_name} || '%'
		</if>
		ORDER BY ${sortBy}
	</select>
	
	<select id="getGenreSameGames" resultType="com.ezen.smg.dto.Games" parameterType="String">
		SELECT * FROM games WHERE game_genre LIKE #{game_genre}
	</select>
	
	<select id="getGamesTotalSize">
		SELECT count(*) FROM games
	</select>
	<select id="getGameListForAdmin" resultType="com.ezen.smg.dto.Games">
		SELECT * FROM (SELECT rownum AS rn, a.* FROM games a ORDER BY game_id DESC) WHERE rn BETWEEN #{start} AND #{end}
	</select>
</mapper> 