<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.smg.mapper.GameKeyMapper">
	<update id="updateUserNum" parameterType="int">
		update game_key set user_num = #{user_num} where key_num =
			(SELECT key_num FROM (
				SELECT rownum AS rn, a.* 
				FROM game_key a 
				where game_id = #{game_id} and user_num is null) 
		WHERE rn = 1)
	</update>
	
	<select id="getUserGameKeyList" resultType="com.ezen.smg.dto.MyGameListDTO">
		SELECT o.order_date, u.user_num, od.game_id, g.game_name, game_price, key_num, key_id  
		FROM orders o, order_detail od, games g, game_key gk, smg_users u 
		where od.game_id = g.game_id
		AND u.user_num = gk.user_num
		AND o.order_id = od.order_id
		AND gk.game_id = g.game_id
		AND u.user_num = #{user_num}
	</select>
</mapper>