<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.smg.mapper.GameSpecificationsMapper">
	<select id="getSpec" resultType="com.ezen.smg.dto.GameSpecificationsDTO">
		SELECT * FROM game_specifications WHERE game_id=#{id} 
	</select>
</mapper>