<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.smg.mapper.GamesMapper">
	<select id="getAllGames" resultType="com.ezen.smg.dto.Games">
		SELECT * FROM games ORDER BY ${sort_by} DESC
	</select>

	<select id="getGame" resultType="com.ezen.smg.dto.Games">
		SELECT * FROM games where game_id=#{game_id}
	</select>
	
	<select id="getFilteredGames" resultType="com.ezen.smg.dto.Games" parameterType="java.util.List">
  		SELECT * FROM games
  		WHERE editor IN
  		<foreach collection="editor" item="editor" separator="," open="(" close=")">
   			#{editor}
  		</foreach>
 			AND REGEXP_LIKE(game_genre, #{genre})
 			ORDER BY ${sortBy} DESC
  		
	</select>
	
	<select id="getFilteredGenreOnly" resultType="com.ezen.smg.dto.Games" parameterType="java.util.List">
  		SELECT * FROM games
  		WHERE REGEXP_LIKE(game_genre,#{genre})
  		ORDER BY ${sortBy} DESC
	</select>
	
	<select id="getFilteredEditorOnly" resultType="com.ezen.smg.dto.Games" parameterType="java.util.List">
  		SELECT * FROM games
  		WHERE editor IN
  		<foreach collection="list" item="editor" separator="," open="(" close=")">
			#{editor}
  		</foreach>
  		ORDER BY ${sortBy} DESC
	</select>
</mapper> 