<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.smg.mapper.LayoutMapper">
	
	<insert id="insertLayoutDefault" parameterType="com.ezen.smg.dto.layout.LayoutDefaultDTO">
		INSERT INTO default_layout(
			GAME_ID, 
			WARN_CONTENT, 
			GAME_INFO_TITLE, 
			GAME_INFO_CONTENT, 
			GAME_STORY) 
			VALUES(
			#{dto.game_id}, 
			#{dto.warn_content},
			#{dto.game_info_title},
			#{dto.game_info_content},
			#{dto.game_story})
	</insert>
	<select id="getLayoutDefault" resultType="com.ezen.smg.dto.layout.LayoutDefaultDTO">
		SELECT * FROM default_layout WHERE game_id=#{id}
	</select>
	<update id="updateLayoutDefault" parameterType="com.ezen.smg.dto.layout.LayoutDefaultDTO">
		UPDATE default_layout SET
			warn_content=#{dto.warn_content, jdbcType=VARCHAR},
			game_info_title=#{dto.game_info_title, jdbcType=VARCHAR},
			game_info_content=#{dto.game_info_content, jdbcType=VARCHAR},
			game_story=#{dto.game_story, jdbcType=VARCHAR}
		WHERE
			game_id=#{dto.game_id}
	</update>
	<update id="updateImg_url">
		UPDATE default_layout SET 
			game_info_img_url=#{url} 
		WHERE game_id=#{id} 
	</update>
	<select id="getLayoutCheck_default">
		SELECT count(*) FROM default_layout WHERE game_id=#{id}
	</select>
</mapper>