<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.ezen.smg.mapper.NoticeMapper">
 	<select id="getNotices" parameterType="int" resultType="com.ezen.smg.dto.NoticeDTO">
 		SELECT * FROM (SELECT rownum AS rn, a.* FROM notices a order by write_date desc) WHERE rn BETWEEN 1 AND 10
 	</select>
 	
 	<select id="getSelectYearNotices" parameterType="String" resultType="com.ezen.smg.dto.NoticeDTO">
 		select notice_id, mng_num, notice_title , write_date, short_content, 
banner_url from notices where to_char(trunc(write_date, 'month'), 'yyyy') = #{date} order by write_date desc
 	</select>
 	
 	<select id="getSelectDateNotices" parameterType="String" resultType="com.ezen.smg.dto.NoticeDTO">
 		select notice_id, mng_num, notice_title , write_date, short_content, 
banner_url from notices where to_char(trunc(write_date, 'month'), 'yyyy/mm') = #{date} order by write_date desc
 	</select>
 	
 	<select id="getAllNotices" resultType="com.ezen.smg.dto.NoticeDTO">
 		SELECT * FROM notices order by write_date desc
 	</select>
 	<select id="getContent" resultType="com.ezen.smg.dto.NoticeDTO">
 		SELECT * FROM notices WHERE notice_id=#{id}
 	</select>
 </mapper>