<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.ezen.smg.mapper.UsersMapper">
 	<select id="getSelectUser" parameterType="String" resultType="com.ezen.smg.dto.SmgUsersDTO">
 		select * from smg_users where user_id=#{user_id}
 	</select>
 	<select id="getUserInfo" parameterType="int" resultType="com.ezen.smg.dto.SmgUsersDTO">
 		SELECT * FROM smg_users WHERE user_num=#{user_num}
 	</select>
 	<select id="getUser_social" parameterType="String" resultType="com.ezen.smg.dto.SmgUsersDTO">
		SELECT * FROM smg_users WHERE social_key = #{key}
	</select>
	<insert id="signUp" parameterType="com.ezen.smg.dto.SmgUsersDTO">
 		INSERT INTO smg_users(
 			user_num,
 			user_id,
 			user_pw,
 			user_name,  
			nick_name,
 			phone_number,
 			birth_date,
 			login_type,
 			social_key,
 			gender
 		) VALUES (
 			user_num_seq.nextval,
			#{dto.user_id}, 			
			#{dto.user_pw}, 			
			#{dto.user_name}, 			
			#{dto.nick_name}, 			
			#{dto.phone_number}, 			
			#{dto.birth_date},
			#{dto.login_type},
			#{dto.social_key},
			#{dto.gender} 			
 		)
 	</insert>
 	<select id="idCheck" parameterType="String" resultType="int">
		SELECT count(*) FROM smg_users WHERE user_id = #{id}
	</select>
	
	<update id="updateNick_name">
		UPDATE smg_users SET nick_name = #{nickname} WHERE user_num = #{user_num}
	</update>
	<update id="updateProfile_img">
		UPDATE smg_users SET profile_url = #{url} WHERE user_num = #{user_num}
	</update>
	
 </mapper>