* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
}

#notice-main {
	display: grid;
	grid-template-rows: 800px 30px 1fr;
	width: 100%;
	row-gap: 20px;
	position: relative;
}

#notice-text {
	position: absolute;
	color: #d80388;
	font-size: 15rem;
	top: -60px;
	font-weight: 800;
	left: 100px;
}

#notice-main-img {
	width: 100%;
	height: 800px;
	object-fit: cover;
}

#notice-sort {
	display: flex;
	justify-content: left;
	align-items: center;
	width: 100%;
	padding: 0 50px;
}

#notice-sort > h2 {
	margin: 0 350px;
}

#notice-year-select, #notice-date-select {
	height: 30px;
	width: 235px;
	border-radius: 0;
	font-size: 16px;
	font-weight: bold;
	-webkit-appearance:none; /* for chrome */
    -moz-appearance:none; /*for firefox*/
    appearance:none;
	padding-left: 10px;
	margin-right: 250px;
}

.select-none {
	color: #d80388;
    background:url('../../img/customer/notice/select-arrow-none.png') no-repeat right center;
	border: none;
	border-bottom: 1px solid #d80388;
}

.select-click {
	background:url('../../img/customer/notice/select-arrow-click.png') no-repeat right center;
	color:black;
	border: none;
	border-bottom: 1px solid black;
}

#notice-sort>select::-ms-expand{
   display:none;/*for IE10,11*/
}

#notice-grid {
	display: grid;
    grid-template-columns: 10% 1200px 10%;
    justify-content: center;
}

#notice-grid-content {
	display: grid;
	grid-template-rows: 25px 170px;
	row-gap: 40px;
}

.notice-date {
	font-size: 20px;
}

.notice-banner {
	display: grid;
	height: 100%;
	grid-template-columns: 300px 880px;
	column-gap: 20px;
}

.banner-img {
	width: 300px;
	height: auto;
}

.notice-detail-banner {
	display: grid;
	grid-template-rows: 21px 30px 21px 21px;
	row-gap: 10px;
}

.notice-detail-banner > * {
	color: black;
}

.banner-title {
	font-size: 20px;
	font-weight: bold;
}

.banner-others-btn {
	display: grid;
	grid-template-columns: 100px 5px;
}

.banner-others-btn > * {
	color: #d80388;
}