#game_bottom_div {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    row-gap: 40px;
}

#game_detail_tab {
    display: grid;
    grid-template-columns: 100px 80px 150px 1fr;
    height: 60px;
    width: 100%;
}

.detail_tab {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-left: 1px solid #a0a2a0;
    border-top: 1px solid #a0a2a0;
    border-bottom: 1px solid #a0a2a0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
    font-size: 16px;
}

.detail_tab:hover:not(.tab_selected) {
    border-top: 2px solid #a0a2a0;
    cursor: pointer;
}

.tab_selected {
    border-top: 2px solid #f22349;
    border-bottom: transparent;
    cursor: default;
}

#game_detail_div_list {
    position: relative;
}

#tab_game_req_div {
    border-right: 1px solid #a0a2a0;
}

#tab_blank {
    border-bottom: #a0a2a0 1px solid;
}

.game_detail_divs {
    flex-direction: column;
    row-gap: 20px;
}

#war-content {
    color: #f8a504;
    font-weight: 600;
    font-size: 16px;
}

#game-info-title-1 {
    padding-top: 100px;
    color: white;
    font-size: 40px;
    font-weight: 600;
    line-height: 55px;
}

#game-info-content-1 {
    padding-top: 100px;
    color: white;
}

.game-info-img {
    margin-top: 30px;
    width: 800px;
    height: 500px;
    object-fit: contain;
}

#game-story-1 {
    color: white;
    font-size: 16px;
}

#game_req_title {
    color: white;
    font-size: 24px;
    font-weight: 600;
}

#game_req_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 32px 0;
    background-color: rgba(255, 255, 255, 0.034);
    border-radius: 8px;
    height: 800px;
    padding: 60px 100px;
}

.req_sub_title {
    color: #a0a2a0;
    font-weight: 600;
}

.req_content {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

#req_bottom_content {
    font-size: 16px;
    color: white;
}

#none_layout_desc {
	color: #fff;
    font-size: 1.5em;	
}