button {
  background-color: #f22349;
  height: 50px;
  border-radius: 10px;
  color: #fff;
}

.title {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#game_bottom_div {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  row-gap: 40px;
}

#game_detail_tab {
  display: grid;
  grid-template-columns: 100px 80px 150px 1fr;
  height: 60px;
  width: 100%;
}

.detail_tab {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-left: 1px solid #a0a2a0;
  border-top: 1px solid #a0a2a0;
  border-bottom: 1px solid #a0a2a0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: white;
  font-size: 16px;
}

.detail_tab:hover:not(.tab_selected) {
  border-top: 2px solid #a0a2a0;
  cursor: pointer;
}

.tab_selected {
  border-top: 2px solid #f22349;
  border-bottom: transparent;
  cursor: default;
}

#game_detail_div_list {
  position: relative;
}

#tab_game_req_div {
  border-right: 1px solid #a0a2a0;
}

#tab_blank {
  border-bottom: #a0a2a0 1px solid;
}

.game_detail_divs {
  flex-direction: column;
  row-gap: 20px;
}

#war-content {
  color: #f8a504;
  font-weight: 600;
  font-size: 16px;
}

#game-info-title-1 {
  padding-top: 100px;
  color: white;
  font-size: 40px;
  font-weight: 600;
  line-height: 55px;
}

#game-info-content-1 {
  padding-top: 100px;
  color: white;
}

.game-info-img {
  margin-top: 30px;
  width: 800px;
  height: 500px;
  object-fit: contain;
}

#game-story-1 {
  color: white;
  font-size: 16px;
}

#comment_cnt {
  color: white;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

#comment_grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 2%;
}

.comment_grid_title {
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.comment_div {
  display: grid;
  grid-template-columns: 35% 55% 10%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.055);
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
  width: 49%;
}

.comment_user_nick {
  color: white;
  font-weight: 600;
  height: 40px;
  display: flex;
  align-items: center;
}

.comment-grade-image {
  width: 31px;
  height: 31px;
  margin-top: 5px;
}

.comment_user_nick_div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.profile-grade {
  width: 40px;
  height: 40px;
  margin: 0;
}

.comment_user_profile {
  width: 100px;
  height: 120px;
  object-fit: cover;
  display: flex;
  align-items: center;
}

.comment_div_left {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}

.comment_write_date {
  color: #a0a2a0;
  font-size: 12px;
}

.comment_div_right {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

#comment_new_grid {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.comment_content {
  color: white;
}

#comment_new_div_list {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.comment_new_div {
  display: grid;
  grid-template-columns: 35% 55% 10%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.034);
  border-radius: 8px;
  padding: 16px;
}

.new_comment_user_profile {
  width: 60px;
  height: 80px;
  object-fit: cover;
}

#comment_all_div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#comment_all_btn {
  margin: 20px 0;
  color: white;
  font-size: 16px;
}

.up_down_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#comment_all_btn:hover {
  color: #67c1f5;
  cursor: pointer;
}

#thumb_up,
#thumb_down {
  font-size: 32px;
  display: flex;
  justify-content: center;
}

.up_btn,
.down_btn {
  font-size: 12px;
  color: #a0a2a0;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
}

.up_btn:hover,
.down_btn:hover {
  color: #eeeeee;
  cursor: pointer;
}

#new_thumb_up,
#new_thumb_down {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.new_comment_content {
  font-size: 16px;
  color: white;
}

#game_req_title {
  color: white;
  font-size: 24px;
  font-weight: 600;
}

#game_req_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 32px 0;
  background-color: rgba(255, 255, 255, 0.034);
  border-radius: 8px;
  height: 800px;
  padding: 60px 100px;
}

.req_sub_title {
  color: #a0a2a0;
  font-weight: 600;
}

.req_content {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

#req_bottom_content {
  font-size: 16px;
  color: white;
}

#my_comment_grid {
  display: grid;
  grid-template-columns: 20% 70% 10%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.055);
  border-radius: 8px;
  padding: 16px;
  margin-right: 20px;
}

#input_comment_content {
  height: 100%;
  resize: none;
  padding: 10px;
  background-color: transparent;
  border: #a0a2a0 1px solid;
  border-radius: 8px;
  color: white;
}

#comment_submit_div {
  padding: 20px 0 20px 20px;
}

#comment_submit_btn {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  border: 1px solid #a0a2a0;
  background-color: transparent;
}

#comment_submit_btn:hover {
  background-color: rgba(255, 255, 255, 0.055);
  cursor: pointer;
}
