.specifications {
	display:flex;
	flex-wrap:wrap;
	box-sizing:border-box;
	padding: 20px;
    background-color: #575261;
    width: 70%;
    margin:auto;
	border-radius: 15px;	
}

.main_contents {
	padding-top: 30px;
	padding-bottom: 30px;
}
#main_img {
	display:flex;
	width:70%;
	margin:auto;	
	border-radius: 15px;	
}

.specs {
	display:flex;
	width:100%;
	
}

.specs > div:first-child {
	display:flex;
	flex-wrap:wrap;
	width:50%;	
}

.specs > div:last-child {
	display:flex;
	flex-wrap:wrap;
	width:50%;
} 
.span1, .span2 {
	padding-top: 10px;	
}
.span1 {
	width:100%;
	color:#c0c0c0;
}

.span2 {
	width:100%;
	font-weight:600;
	color: white;
}