#board_content {
	box-sizing:border-box;
	display:grid;
	grid-template-columns:50px 1fr 100px;
	
}

#board {
	display:flex;
	flex-wrap: wrap;
	grid-column:1/4;
	margin-bottom: 10px;
	padding-top:10px;
	border:solid 1px black;	
	border-radius: 10px;
	cursor: pointer;
	
}

.board_subject {
	width: 15%;
	text-align: center;
	padding-bottom:10px;
}

.board_title {
	width: 70%;
	padding-bottom:10px;
}

.board_btn {
	width: 15%;
	text-align: center;
	padding-bottom:10px;
}

.board_detail{	
	width:100%;		
	transition: max-height 300ms ease-in-out;	
	max-height: 0px;
	overflow:hidden;		
}

.show {	
	max-height: 100vh;		
}
.board:hover {
	
	box-shadow: 0px 0px 5px 5px gray;
}
.board_content {	
	width:100%;
	display:flex;
	flex-wrap: wrap;	
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 10px;
}

.board_content > div:first-child {
	width: 15%;
	text-align: center;
	
}

.board_content > div:last-child {
	width: 85%;
}
img {
	position:absolute;	
	max-height:100%;
	max-width:100%;
	height:auto;
	width: auto;
}		
.board_attachment {	
	width: 100%;
	display:flex;
	overflow:hidden;
	flex-wrap: wrap;
	padding:10px;	
	border-top: solid 1px black;	
	height:230px;
	position:relative;
}

.board_attachment > div:first-child {
	width: 15%;
	text-align: center;
}
.board_attachment > div:last-child {
	width: 85%;	
}

