#board_content {
	box-sizing:border-box;
	display:grid;
	grid-template-columns:50px 1fr 100px;
	
}

#board {
	display:flex;
	flex-wrap: wrap;
	grid-column:1/4;
	margin-bottom: 10px;
	padding-top:10px;
	border:solid 2px black;	
	border-radius: 10px;
	cursor: pointer;
	
}

.board_subject {
	width: 15%;
	text-align: center;
	padding-bottom:10px;
}

.board_title {
	width: 70%;
	padding-bottom:10px;
}

.board_btn {
	width: 15%;
	text-align: center;
	margin-bottom : 10px;
}

.board_check {
	margin:auto;
	width: 70%;
	border: solid 2px black;
	border-radius: 15px;
}

.board_detail{	
	width:100%;		
	transition: max-height 300ms ease-in-out;	
	max-height: 0px;
	overflow:hidden;		
}

.show {	
	max-height: 100vh;		
}
.board:hover {
	
	box-shadow: 0px 0px 5px 5px gray;
}
.board_content {	
	width:100%;
	display:flex;
	flex-wrap: wrap;	
	padding-top: 30px;
	padding-bottom: 30px;
	border-top:solid 1px black;
}

.board_content > div:first-child {
	width: 15%;
	text-align: center;
	
}

.board_content > div:last-child {
	width: 85%;
}
.myImg {
	position:absolute;	
	max-height:100%;
	max-width:100%;
	height:auto;
	width: auto;	
}		
.board_attachment {	
	width: 100%;
	display:flex;
	overflow:hidden;
	flex-wrap: wrap;
	padding:10px;	
	border-top: solid 1px black;	
	height:230px;
	position:relative;
}

.board_attachment > div:first-child {
	width: 15%;
	text-align: center;
}
.board_attachment > div:last-child {
	width: 85%;	
}

#pageDiv {
	text-align: center;
}

.myImg {
  cursor: pointer;
  transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 300px;
  top: 50px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  max-height: 700px;
}

/* Add Animation - Zoom in the Modal */
.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 60px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
<<<<<<< Updated upstream
@media only screen and (max-width: 700px max-height: 700px){
=======
@media only screen and (max-width: 700px){
>>>>>>> Stashed changes
  .modal-content {
    width: 100%;
    height: 100%;
  }
}