@charset "EUC-KR";

.main-container {
	padding: 10px;
}

.logo-container {
	position: relative;
	margin-right: 10px;
}

.loginAndSignUp-container {
	margin-top: 33px;
}

#IdLoginText {
	text-decoration: none;
}

.title-link {
	margin-left: 215px;
	font-size: 23px;
	font-weight: 400;
	text-decoration: none;
	color: inherit;
}

.title-link:hover {
	color: #006EF5;
}

#email {
	margin-bottom: -24px;	
}

#pw {
	margin-bottom: -24px;	
}

#email-input {
	border: none;
	border-bottom: 2px solid #676767;
	outline: none;
	display: block;
	width: 100%;
	height: 47px; 
	font-size: 16px; 
	text-indent: 35px; 
	margin-top: 42px;
	transition: border-color 0.3s;
}

#email-input:hover {
	border-bottom: 2px solid #015ed1; 
}

#email i {
	position: relative;
	right: -15px;
	top: -35px;
}

#email-guide {
	padding: 6px;
	display: none; 
}

#email-guideText {
	color: #CC0011;
	font-size: 14px;
}

#email-empty {
	padding: 6px;
	display: none;
}

#email-emptyText {
	color: #CC0011;
	font-size: 14px;
}

.big {
	font-size: 16px;
	transform: translateX(0px) translateY(0px);
	transition: font-size 0.5s, transform 0.5s;
}

.small {
	font-size: 9px;
	transform: translateX(-26px) translateY(-20px);
	transition: font-size 0.5s, transform 0.5s;
}

#email-label {
	position: absolute;
	display: inline-block;
	margin-top: 15px;
	margin-left: 40px;
}

#pw-input {
	border: none;
	border-bottom: 2px solid #676767;
	outline: none;
	display: block;
	width: 100%;
	height: 47px; 
	font-size: 16px; 
	text-indent: 35px; 
	margin-top: 38px;
	transition: border-color 0.3s;
}

#pw-input:hover {
	border-bottom: 2px solid #015ed1; 
}

#pw i {
	position: relative;
	right: -15px;
	top: -35px;
}

#pw-guide {
	padding: 6px;
	display: none; 
}

#pw-guideText {
	color: #CC0011;
	font-size: 14px;
}

#pw-empty {
	padding: 6px;
	display: none;
}

#pw-emptyText {
	color: #CC0011;
	font-size: 14px;
}

.bigPw {
	font-size: 16px;
	transform: translateX(0px) translateY(0px);
	transition: font-size 0.5s, transform 0.5s;
}

.smallPw {
	font-size: 9px;
	transform: translateX(-26px) translateY(-20px);
	transition: font-size 0.5s, transform 0.5s;
}

#pw-label {
	position: absolute;
	display: inline-block;
	margin-top: 15px;
	margin-left: 40px;
}

#pw-label {
	position: absolute;
	display: inline-block;
	margin-top: 15px;
	margin-left: 40px;
}

#login-failed {
	padding: 6px;
}

#login-failedText {
   color: #CC0011;
   font-size: 14px;
}

#rememberCheckbox {
	transform: scale(1.5);
	margin-right: 13px; 
}

#remember-and-forget {
	display: flex;
	align-items: center;
	margin-top: 27px;
	margin-left: 269px;
}

#rememberLabel {
	margin-right: 200px;
}

#forgetBtn {
	text-decoration: none;
	color: inherit;
}

#forgetBtn:hover {
	color: #006EF5;
}

.checkbox-container {
    display: flex;
    align-items: center; 
    margin-right: 10px;
}
#loginBtn {
	margin-top: 38px;
	background-color: #0077E5;
	height: 50px;
	color: white;
	font-size: 18px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

#loginBtn:hover {
 background-color: #006acc;
}

#naverLoginBtn {
	margin-top: 21px;
	background-color: #03C75A;
	height: 50px;
	color: white;
	font-size: 18px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

#naverLoginBtn:hover {
	filter: brightness(95%);
}


.easyLogin {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: black;
	font-size: 16px;
	margin: 0px 0px;
	margin-top: 20px;
}

.easyLogin::before {
	content: "";
	flex-grow: 1;
	background: #8c8c8c;
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin-right: 16px;
}

.easyLogin::after {
	content: "";
	flex-grow: 1;
	background: #8c8c8c;
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin-left: 16px;
}

.private-div {
	margin-top:23px;
}

#private-btn {
	margin-left: 120px;
	color: #006EF5;
	text-decoration: none;
} 