* {
   box-sizing: border-box;
}

#header-top>a:not( '#logo-btn '):hover {
   color: black;
}

a {
   text-decoration: none;
}

ul {
   list-style-type: none;
   padding-left: 0;
}

header {
   width: 100%;
   height: 150px;
   display: grid;
   grid-template-rows: 50px 100px;
   position: relative;
   left: 0;
   bottom: 0;
   overflow: hidden;
}

#header-top {
   background-color: #131c27;
   border: 1px solid #2b333d;
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   height: 54px;
   overflow: hidden;
   z-index: 60;
   
}

.header-top-menu {
   background-color: #131c27;
   margin-bottom: 0;
   margin-left: 160px
}

#header-top-ul {
   display: grid;
   list-style-type: none;
   grid-template-columns: 250px 115px 115px 115px 777px 115px;
   column-gap: 20px;
   text-align: center;
   position: relative;
   text-align: center;
   column-gap: 20px
}

/* 상단메뉴바 글자크기조절 */
#header-top-ul>*>a {
   color: white;
   text-decoration: none;
   font-weight: bold;
   font-size: 14px;
}

#point-div {
	font-size: 14px;
	margin-left: -200px;
	margin-top: -2px;
	color: white;
	font-weight: bold;
}
/* #point-amount {
		
	width: 50px;
} */

 #point-i {
    color: #edc800;
    font-size: 14px; 
    font-weight: 100px;
     margin-left: 2px;
    margin-right: 2px;
}


#login-icon {
	margin-left: 30px;
}

#login-icon2 {
    margin-left: 32px;
    margin-right: 2px;
  }

.clickable-li {
   display: inline-block;
   position: relative;
   cursor: pointer;
   color: white;
   text-decoration: none;
   font-weight: bold;
   font-size: 14px;
   margin-bottom: -3px;
}

.point-li {
	margin-bottom: 10px;
}

.clickable-li a {
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   text-decoration: none;
}

#login-li {
   color: #acacac;
   font-size: 17px;
   position: relative;
   transition: color 0.3s;
}

#login-li:hover {
   color: white;
}

#login-li i {
   position: relative;
   left: -3px;
   transition: color 0.3s;
}

/* #login-btn {
	margin-left: 25px;
	margin-bottom: 8px;
	width: 30px;
	height: 30px;
} */

#header-top-underline {
   padding: 10px;
   margin-left: 160px
   /* height: 15px; */
}

#header-top-ul-underline {
   display: grid;
   list-style-type: none;
   grid-template-columns: 256px 130px 138px 133px 800px 125px;
   text-align: center;
   height: 4px;
   background-color: #131c27;
   margin-top: 0;
   margin-bottom: 0;
}

#game-btn-underline {
   background-color: white;
}

#header-top>:first-child {
   z-index: 60;
   position: relative;
}

#customer-ul {
   position: absolute;
   z-index: 1;
   position: relative;
   z-index: 100;
   background: #25374e;
   display: none;
   list-style-type: none;
   height: 120px;
   width: 200px;
   text-align: center;
   bottom: -25px;
   text-align: left;
   padding-left: 25px;
   padding-top: 25px;
   font-size: 12px
}

#customer-ul li {
   margin-bottom: 13px;
   color: white;
}

#customer-ul>li {
   position: relative;
   z-index: 100;
}

#header-top-ul>:last-child {
   position: relative;
   z-index: 100;
}

/*************** header-bottom *******************/

#header-bottom-logo {
	display: none;
	margin-top: 15px;
	text-align: center;
}

.title-div, .bottom-title {
	font-size: 1.02rem;
	color: #008AA4;
}

.header-bottom-btn {
	display: grid;
}

#category {
	grid-template-columns: 90px 40px; 
}

#header-genre {
	grid-template-columns: 60px 40px; 
}

#editor {
	grid-template-columns: 120px 40px; 
}

.header-bottom-btn > * {
	display: flex;
	height: 50px;
	margin-top: 0;
}

.header-bottom-btn > :first-child {
	justify-content: right;
}

#header-bottom {
	width: 100%;
	height: 100px;
	display: grid;
	margin: 0 auto;
	position: fixed;
	padding-left: 160px;
	top: 50px;
	z-index: 50;
	background-color: white;
}

#header-bottom > * {
   padding-top: 25px;
}

#header-bottom-category-btn {
	border: 1px solid red;
}

.header-bottom-up {
	grid-template-columns: 600px 510px 385px 140px;
}

.header-bottom-drop {
	grid-template-columns: 250px 600px 240px 385px 140px;
}

#header-bottom > * {
	background-color: white;
}

#header-bottom-ul {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 130px 100px 170px 140px;
	height: 50px;
	position: relative;
	column-gap: 20px;

}

#header-genre {
   grid-template-columns: 60px 40px; 
}

#editor {
   grid-template-columns: 130px 40px; 
}

#header-games-btn:hover {
	cursor: pointer;
	background-color: #E5F3F6;
	border-radius: 10px;
}

#header-bottom-ul > li > div > *, #header-games-btn {
	margin: 0;
	padding-top: 13px;
	text-align: center;
	height: 50px;
	font-size: 18px;
}

#header-bottom>:last-child {
   height: 100%;
	display: flex;
   padding-left: 20px;
	justify-content: left;
}

.sub-ul>li {

	font-size: 16px;
	padding: 30px;
	text-align: left;
	padding: 5px;
	color: black;

}

.sub-ul>li:hover {
   font-weight: bold;
   cursor: pointer;
}

.sub-ul {
   display: none;
}


#search-form {
   height: 50px;
   border: 2px solid #008AA4;
   border-radius: 30px;
   display: flex;
   align-items: center;
}

#search-form:hover {
   background-color: #E5F3F6;
   border-radius: 30px;
}

#search-form:hover {
	background-color: #E5F3F6;
	border-radius: 30px;
}

#cart-btn {
   font-weight: bold;
   height: 50px;
   width: 95px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 16px;
}

#cart-btn:hover {
   cursor: pointer;
   background-color: #E5F3F6;
   border-radius: 40px;
   margin-bottom: 25px;
}

#search {
   margin-top: 0;
   padding: 0;
   margin-left: 20px;
   height: 38px;
   width: 280px;
   border: 0;
}

#submit-btn {
	border: 0;
	background-color: transparent;
	width: 45px;
	height: 45px;
	margin-left: 10px;
}

#cart-icon {
	color: #008AA4;
	margin-right: 5px;
}

.list-active {
	position: absolute;
	left:0;
	right:0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(6, 35px);
	width: 1330px;
	height: 525px;
	z-index: 1;
	background: white;
	padding: 35px 0 0 30px;
	margin-top: 25px;
	border-top: #008AA4 solid 2px;
	box-shadow: 0 10px 30px -14px #9ea9bd;
}

.title-active {
	background-color: #E5F3F6;
	border-radius: 10px;
}

.header-bottom-btn {
	margin-top: 0;
	height: 50px;
}

.header-bottom-btn:hover {
	background-color: #E5F3F6;
	border-radius: 10px;
	cursor: pointer;
}

#search {
	background-color: transparent;
	font-size: 16px;
	color: #008aa4;
	caret-color: #808080;
	margin-right: 10px;

}

#search:focus {outline: none;}

.expand_more {
	display: flex;
	justify-content: center;
}


.expand_more-active {
	transform: rotate(-180deg);
}

.expand_more {
	transition: .3s ease-in;
}

#header-bottom.minicart-postition {
   position: relative;
}

/* 장바구니 마우스 hover시 나오는 minicart */
#minicart {
   box-shadow: 9px 9px 20px rgba(0, 0, 0, .12);
   background: linear-gradient(180deg, #F3F3F3 0%, #ECDDDD 100%);
   position: fixed;
   top: 140px;
   right: 120px;
   z-index: 60;
   width: 480px;
   margin: 0%;
   font-weight: bold;
   border-radius: 8px;

   /* #minicart Mouse Event  Default Hidden*/
   transform: translateY(5px);
   transition: all .2s linear;
   visibility: hidden;
}

/* MiniCart Mouse Event */
#minicart.minicart-active {
   opacity: 1;
   transform: translateY(0);
   visibility: visible;
   pointer-events: auto;
   position: absolute;
   top: 86px;
}

.minicart-common {
   display: flex;
   flex-flow: column wrap;
   justify-content: center;
   align-items: center;
}

.minicart-header {
   background-color: #F22349;
   width: 100%;
   height: 64px; 
   color: #F3EED9;
   border-radius: 8px 8px 0px 0px;
   position: relative;
}

.minicart-header:after {
   content: '';
   position: absolute;
   top: 0;
   left: 80%;
   width: 0;
   height: 0;
   border: 12px solid transparent;
   border-bottom-color: #F22349;
   border-top: 0;
   margin-left: -12px;
   margin-top: -12px;
}
.minicart-title {
   font-size: 24px;
   font-weight: bold;
}

.empty-minicart-image {
   flex-basis: auto;
}

.empty-minicart-message {
   flex-basis: content;
   margin-top: 40px;
   font-weight: bold;
   font-size: 22px;
   border-bottom: 1px solid black;
}

.empty-minicart-buttons {
   /* flex-basis: content; */
   width: 200px;
   height: 60px;
   margin: 0px 40px 40px 40px;
   background-color: #F22349;
   border-radius: 30px;
   color: #F3EED9;
   font-weight: bold;
}

.empty-minicart-buttons:hover {
	background-color: #fcee27;
   /* transform: scale(1.1); */
   color: black;
   font-weight: bold;
	cursor: pointer;
}