* {
    box-sizing: border-box;
}

a {
	text-decoration: none;
	color: black;
}

#header-top > a:not('#logo-btn'):hover {
	color: red;
}

header {
    width: 100%;
    height: 150px;
    display: grid;
    grid-template-rows: 50px 100px;
}

#header-ul {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(5, 1fr);
    
}

#customer-ul {
	display: none;
	list-style-type: none;
}

header > * {
	border: 2px solid blue;
}
header > * > * {
    border: 1px solid red;
}