/* 임시 스타일 */
button {
    border: none;
}

/* 전체 이미지 */
img {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
}

body {
    min-height: 100vh;
    position: relative;
    width: 100%;
    margin: 0;
    padding-bottom: 300px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.80) 0%, #210b6a 100%);
	backdrop-filter: blur(7px);
}

.background_layer1 {
	background: linear-gradient(179deg, #090300 0%, rgba(9, 3, 0, 0.00) 100%);
}
.background_layer2 {
	background: linear-gradient(135deg, rgba(9, 3, 0, 0.80) 0%, rgba(9, 3, 0, 0.00) 100%);
}

/* 타이틀 폰트 관련 css */
#main .title {
    color: #EEE;
    font-family: SF Pro Display;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.8px;
}
#main .sub-title {
    color: #F22349;
    font-family: SF Pro Display;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.8px;
}

#mainBanner {
    position: relative;
    height: 540px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 100px;
}

#mainBanner > div:first-child {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 580px;
    padding: 56px 50px 77px 31px;
    background: linear-gradient(88deg, #989090 0%, rgba(0, 0, 0, 0.00) 100%);
    z-index: 2;
}

/* bestgame 관련*/
#bestGame {
    width: auto;
    height: 730px;
    margin: auto;
    margin-bottom: 100px;
    overflow: hidden;
}

#bestGame > div {
    width: 1560px;
    height: 686px;
    padding: 20px;
    margin: 0 160px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

#bestGame_title {
	width: 1560px;
    height: 80px;
    border-left: white 10px solid;
    padding-left: 30px;
}

#bestGame_container {
	width: 1560px;
    height: 566px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}
.best_games {
    overflow: hidden;
    position: relative;
    text-align: center;
    color: white;
    width: 375px;
    height: 560px;
    border-radius: 20px;
}

#subBanner {
    width: 100%;
    overflow: hidden;
    height: 305px;
    margin-bottom: 120px;
}

/* 게임 뷰 포트*/
.recmd {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    row-gap: 40px;
    width: 100%;
    height: 550px;
    margin-bottom: 120px;
    overflow: hidden;
    position: relative;
}
.title_div {
    margin-left: 180px;
    padding-left: 30px;
	white-space: nowrap;    
    border-left: white 10px solid;
}

.recmd > .recmd-container{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    flex-wrap: nowrap;
  	overflow-x: hidden;
  	overflow-y: hidden;
  	position: relative;
  	scroll-behavior: smooth;
}
.recmd-container > .blank {
	width: 55px;
    height: 420px;
    flex: 0 0 auto;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.recmd-container > .recmd-items {
    width: 350px;
    height: 420px;
    flex: 0 0 auto;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.recmd-prev-btn {
    position: sticky;
    background-color: transparent;
    color: red;
    left:15px;
    top: 200px;	
    height:50px;  
    z-index:1;
    visibility: hidden;
}

.recmd-next-btn {
    position: sticky;
    background-color: transparent;
    color: white;	
    right: 15px;
    top: 200px;
    height:50px;
}

.recmd-next-btn > button {
    width: 140px;
    height: 160px;
    color: #000;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* 장르 관련 css*/
#genre {
    display: flex;
    flex-direction: row;
}
#genre > .btn {
    display: flex;
    width: 180px;
    justify-content: center;
    align-items: center;
    color: #000;
}

#genre-container {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}
#genre-container > .genres {
    overflow: hidden;
    border-radius: 20px;
    width: 375px;
    height: 290px;
}
    