/* 임시 스타일 */
button {
    border: none;
}

/* 전체 이미지 */
img {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
}

body {
    min-height: 100vh;
    position: relative;
    width: 100%;
    margin: 0;
    padding-top: 150px;
    padding-bottom: 300px;
}

#mainBanner {
    height: 540px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 100px;
}

#bestGame {
    width: 100%;
    height: 640px;
    padding: 20px;
    margin: auto;
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: 1fr repeat(3, 500px) 1fr;
    column-gap: 30px;
}
#bestGame > .best_games {
    overflow: hidden;
    position: relative;
    text-align: center;
    color: white;
    width: 500px;
    height: 600px;
    border-radius: 20px;
}
#bestGame > .best_games > .bottom-right1 {
    position: absolute;
    bottom: 5em;
    right: 16px;
}
#bestGame > .best_games > .bottom-right2 {
    position: absolute;
    bottom: 8px;
    right: 16px;
}
/* 베스트게임 폰트설정 */
#bestGame > .best_games > .bottom-right1 > .old-p {
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: line-through;
}
#bestGame > .best_games > .bottom-right2 > .pre-p {
    color: #FA5D05;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -4.2px;
}
#bestGame > .best_games > .bottom-right2 > .dis-p {
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#bestGame > .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
#bestGame > .btn > button {
    width: 80px;
    height: 120px;
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#subBanner {
    width: 100%;
    overflow: hidden;
    height: 305px;
    margin-bottom: 120px;
}

/* 타이틀 폰트 관련 css */
#main .title {
    color: #000;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -4.8px;
}
#main .sub-title {
    color: #666363;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -4.8px;
}


.recmd {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    row-gap: 20px;
    width: 100%;
    height: 600px;
    margin-bottom: 120px;
	position: relative;
}

.title {
	padding-left: 180px;
}
.recmd > .recmd-container{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    flex-wrap: no-wrap;
  	overflow-x: hidden;
  	overflow-y: hidden;
  	position: relative;
  	scroll-behavior: smooth;
}
.recmd-container > .blank {
	width: 55px;
    height: 500px;
    flex: 0 0 auto;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.recmd-container > .recmd-items {
    width: 420px;
    height: 500px;
    flex: 0 0 auto;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.recmd-prev-btn {
    position: sticky;
    background-color: transparent;
    color: red;
    left:15px;
    top: 200px;	
    height:50px;  
    z-index:1;
    visibility: hidden;
}

.recmd-next-btn {
    position: sticky;
    background-color: transparent;
    color: white;	
    right: 15px;
    top:200px;
    height:50px;
}



.recmd-next-btn > button {
    width: 140px;
    height: 160px;
    color: #000;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


#genre {
    display: grid;
    grid-template-columns: 1fr repeat(4, 375px) 1fr;
    column-gap: 20px;
    row-gap: 30px;
    height: 395px;
    width: 100%;
    margin-bottom: 120px;
}
#genre > div:nth-child(2) { 
    grid-column: 2 / 6;
}
#genre > .genres {
    overflow: hidden;
    border-radius: 20px;
    width: 375px;
    height: 290px;
}
#genre > .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
#genre > .btn > button {
    width: 98px;
    height: 160px;
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
