/* 사이드바 설정 */
#side_admin_game {
    border-left: 3px solid #eeab0a;
    background-color: #0e151d;
}
#side_admin_game span.material-icons {
    color: #eeab0a;
}

.input_container_div {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
.input_container_div.upper {
    column-gap: 20px;
}

.input_title_div {
    display: flex;
    align-items: center;
}