/* 사이드바 설정 */
#side_admin_game {
    border-left: 3px solid #eeab0a;
    background-color: #0e151d;
}
#side_admin_game span.material-icons {
    color: #eeab0a;
}

/* game_content 설정 */
.content_grid {
    display: grid;
    grid-template-columns: 11% 40% 15% 15% 15%;
    border-bottom: 1px solid black;
    column-gap: 1%;
    border-bottom: 3px;
}
