/* 사이드바 설정 */
#side_admin_game {
    border-left: 3px solid #eeab0a;
    background-color: #0e151d;
}
#side_admin_game span.material-icons {
    color: #eeab0a;
}

#layout_btn_wrapper {
	margin-left: 15px;
}

.item_div {
    display: flex;
    flex-direction: column;
	row-gap: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 5px;
    padding: 15px 20px;
}

.item_layer_div {
	margin-bottom: 70px;
	column-gap: 20px;
}
.item_layer_div.item2 {
	display: grid;
	grid-template-columns: 440px 1fr;
}

.item_layer_div.item3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.game_detail_img_div {
	height: 600px;
    width: 450px;
    margin: auto;
}

#game_title {
	font-size: 1.3em;
}

.item_span_title {
	font-size: 1.4em;
	font-weight: 550;
}

.item_span_title::after {
	width: 28px;
    height: 3px;
    content: "";
    display: block;
    margin-top: 3px;
    background-color: blueviolet;
}

.item_span_content {
	font-size: 1.2em;
}

/* 별점 css */
.stararea_wrapper {
	display: flex;
	flex-direction: row;
	column-gap: 10px;
}

.starpoint {
	color: #fbbc05;
    overflow: hidden;
    display: inline-block;
}

#rate_container {
	display: flex;
	column-gap: 5px;
}

.rate_div {
	width: 50px;
	border-radius: 3px;
    overflow: hidden;
}