/* 사이드바 설정 */
#side_admin_game {
    border-left: 3px solid #eeab0a;
    background-color: #0e151d;
}
#side_admin_game span.material-icons {
    color: #eeab0a;
}

#layout_btn_wrapper {
	margin-left: 15px;
}

.item_div {
    display: flex;
    flex-direction: column;
	row-gap: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 5px;
    padding: 15px 20px;
}

.item_layer_div {
	margin-bottom: 70px;
	column-gap: 20px;
}
.item_layer_div.item2 {
	display: grid;
	grid-template-columns: 440px 1fr;
}

.item_layer_div.item3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.game_detail_img_div {
	height: 600px;
    width: 450px;
    margin: auto;
}

#game_title {
	font-size: 1.3em;
}

.item_span_title {
	font-size: 1.4em;
	font-weight: 550;
}

.item_span_title::after {
	width: 28px;
    height: 3px;
    content: "";
    display: block;
    margin-top: 3px;
    background-color: blueviolet;
}

.item_span_content {
	font-size: 1.2em;
}

/* 별점 css */
.stararea_wrapper {
	display: flex;
	flex-direction: row;
	column-gap: 10px;
}

.starpoint {
	color: #fbbc05;
    overflow: hidden;
    display: inline-block;
}

#rate_container {
	display: flex;
	column-gap: 5px;
}

.rate_div {
	width: 50px;
	border-radius: 3px;
    overflow: hidden;
}

.layout_check {
	color: red;
}

.layout_check.chk {
	color: green;
}

#img_slide_container_wrapper {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 100%;
    margin-top: 40px;
}

#img_slide_container {
    padding-right: 25px;
}

#demo_img_list {
	display: grid;
    grid-template-columns: 50px repeat(5, 1fr) 50px;
	margin-top: 10px;
	column-gap: 5px;
}
#demo_img_list > * {
    display: flex;
    justify-content: center;
}

.game_img_dto {
    object-fit: cover;
    cursor: pointer;
    border-radius: 8px;
}

.img-arrow {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.img-arrow-btn {
	text-align: center;
	color: #A0A2A0;
	user-select: none;
}

.img-arrow:hover>.img-arrow-btn {
    color: #2A2A2A;
}

.selected {
    border: 1px solid #A0A2A0;
}

.imgSlides {
    display: none;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

#img_slide_text_container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    border: #A0A2A0 1px solid;
    border-radius: 8px;
}

#game_detail_img_div {
    width: 100%;
    max-height: 200px;
}

#right_img {
    object-fit: cover;
    border-radius: 8px;
}

#img_slide_desc_container {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
}

.desc_text {
	font-size: 0.8em;
}

#req_layer_div {
	margin-bottom: 70px;
	column-gap: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.req_container_wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 15px;

	margin-top: 20px;
}

.req_container {
	display: flex;
	flex-direction: column;
}

.req_title {
	font-size: 1.2em;
    font-weight: 550;
}

.req_content {
	font-size: 1.1em;
}

#upward_btn {
	display: none;
    position: fixed;
    bottom: 70px;
    right: 70px;
    width: 75px;
    height: 75px;
}
