/* 사이드바 설정 */
#side_admin_chart {
  border-left: 3px solid #eeab0a;
  background-color: #0e151d;
}
#side_admin_chart span.material-icons {
  color: #eeab0a;
}

canvas {
  height: 600px;
  font-size: 24px !important;
}

.top-bar {
  display: flex;
  flex-wrap: nowrap;
}

#selector {
  justify-content: end;
}

.top-bar > button {
  margin-right: 10px;
}
