/* 사이드바 설정 */
#side_admin_inquiry {
    border-left: 3px solid #eeab0a;
    background-color: #0e151d;
}
#side_admin_inquiry span.material-icons {
    color: #eeab0a;
}
#board_content {
	display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: #eeab0a;
    border-radius: 3px;
    padding: 20px 10px;
	
}


#board_main {
	display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.board {
 	display: grid;
    grid-template-columns: 100px 150px 1fr 150px 150px;
    background-color: white;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	cursor: pointer;
	
}

.board:hover {
	background-color: #dcefff;
    cursor: pointer;
}

.board > * {
	font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;   
    color: #0e151d;
}

#board_content_title {
	display: grid;
    grid-template-columns: 100px 150px 1fr 150px 150px;
}

#board_content_title > * {
	font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board_header {
	height:70px;
}

.board_title {
	color: #F22349;
    font-weight: 600;
}

.board_answer > button {
	border-radius: 8px;   
    width: 130px;
    height: 40px;
    border: none;
    color: #fff;
    font-size: 1.1em;
    font-weight: 550;
    cursor: pointer;
}

.board_answer > button:hover {
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.answer {
	background-color: blueviolet;
}

.answer_edit {
	background-color: #f32349;
}

.board_content {
	display:grid;
	grid-template-columns: 100px 150px 1fr 150px 150px;
	width:100%;	
	justify-content: center;
    align-items: center;
    border-top: solid 1px black;
   
}

.paddingTopBottom {
	padding-top:10px;
	padding-bottom:10px;
}

.admin_answer {
	display:grid;
	grid-template-columns: 100px 150px 1fr 150px 150px;
	width:100%;	
	justify-content: center;
    align-items: center;      
    transition: max-height 300ms ease-in-out;	
	max-height: 0px;
	overflow:hidden;
	background-color: #cecece;
}

.admin_edit {
	display:grid;
	grid-template-columns: 100px 150px 1fr 150px 150px;
	width:100%;	
	justify-content: center;
    align-items: center;      
    transition: max-height 300ms ease-in-out;	
	max-height: 0px;
	overflow:hidden;
	background-color: #cecece;
}

#form {
	width:100%;
}

.detail_first {
	grid-column: 1/3;	
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #F22349;
    font-weight: 600;
}

.detail_last {
	grid-column: 3/6;	
	padding-top: 10px;
	padding-bottom: 10px;
}

.answer_detail {
	background-color: #cecece;
}

.board_detail{	
	grid-template-columns: 100px 150px 1fr 150px 150px;
	grid-column: 1/6;	
	flex-direction: column;
	width:100%;		
	transition: max-height 300ms ease-in-out;	
	max-height: 0px;
	overflow:hidden;		
}

.save_btn {
	grid-column: 4/5;
	padding:10px;
}

.cancle_btn .cancle {
	grid-column: 5/6;
	padding:10px;
}

.save_btn > button {
	border-radius: 8px;   
    width: 130px;
    height: 40px;
    border: none;
    color: #fff;
    font-size: 1.1em;
    font-weight: 550;
    cursor: pointer;
    background-color: blueviolet;
}

.cancle_btn, .cancle > button {
	border-radius: 8px;   
    width: 130px;
    height: 40px;
    border: none;
    color: #fff;
    font-size: 1.1em;
    font-weight: 550;
    cursor: pointer;
    background-color: blueviolet;
}

.show {
	width:100%;
	max-height: 100vh;		
}

.board:hover {
	
	box-shadow: 0px 0px 5px 5px gray;
}

.myImg {
	position:absolute;	
	max-height:100%;
	max-width:100%;
	height:auto;
	width: auto;	
}		
.board_attachment {	
	grid-template-columns: 100px 150px 1fr 150px 150px;
	width: 100%;
	display:grid;
	grid-column: 1/6;
	overflow:hidden;
	height:230px;
	position:relative;
	
}

#pageDiv {
	text-align: center;
}

.myImg {
  cursor: pointer;
  transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 287px;
  top: 0px;
  width: 87%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

img {
	object-fit:contain;
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 1000px;
  height:95%;
}

/* Add Animation - Zoom in the Modal */
.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 30px;
  right: 70px;
  color: #f1f1f1;
  font-size: 60px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 1000px){
  .modal-content {
    width: 100%;
    height: 100%;
   } 
}