/* 사이드바 설정 */
#side_admin_key {
  border-left: 3px solid #eeab0a;
  background-color: #0e151d;
}
#side_admin_key span.material-icons {
  color: #eeab0a;
}

#key-list {
  display: flex;
  flex-direction: column;
  background-color: #dddddd;
  border-radius: 3px;
  row-gap: 10px;
  padding: 16px;
}

.item_title_wrapper {
  width: 100%;
}

#column-title {
  display: grid;
  grid-template-columns: 100px 150px 1fr 100px 100px;
  padding: 10px 20px;
}

#column-title > * {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
}

#row-content {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

#key-list-div {
  flex-direction: column;
  row-gap: 30px;
}

.order-game {
  color: #f22349;
  font-weight: 600;
}

.key-btn {
  width: 100%;
  height: 30px;
  font-size: 16px;
  justify-content: center;
}

.row-content {
  height: 100px;
  display: grid;
  grid-template-columns: 100px 150px 1fr 100px 100px;
  background-color: white;
  border-radius: 3px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  position: relative;
  overflow: hidden;
  align-items: center;
}

.row-content > * {
  display: flex;
  align-items: center;
}

.order-detail-btn {
  width: 100%;
  height: 30px;
  font-size: 16px;
  justify-content: center;
}
