* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#top_bar {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  z-index: 899;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 2px solid #e9e9f2;
}

#top_bar_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#top_bar_logo > a {
  margin-left: 20px;
  color: black;
}

#top_bar > div:nth-child(2) {
  border-right: 2px #e2e2e2 solid;
}

#top_bar > div:last-child {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 900;
  background-color: #fff;
}

#top_bar_account {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  height: 50px;
}

#top_bar_account > div:first-child {
  display: flex;
  align-items: center;
}
#top_bar_account > div:first-child > span {
  font-weight: 600;
}

#top_bar_account > div:last-child {
  display: flex;
  align-items: center;
}
#top_bar_account > div:last-child > span {
  font-weight: 600;
}

#side_nav_wrapper {
  position: relative;
  max-width: 334px;
  width: 18%;
  background-color: #252d3a;
}

#side_nav {
  width: 100%;
  position: sticky;
  top: 50px;
  left: 0;
  z-index: 2;
  color: #fff;
}
#side_nav_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
	margin: 30px;
}
.nav_item {
  display: flex;
  align-items: center;
  height: 60px;
  transition: 0.4s;
}
.nav_item:hover {
  background-color: #0984e2;
}
.nav_item_wrapper {
  display: grid;
  grid-template-columns: 30px 1fr 1fr;
  margin: 0 auto;
  width: 85%;
}
.nav_item_wrapper > span:nth-child(2) {
  grid-column: 2 / 4;
}

main {
  position: relative;
  margin-top: 50px;
}

#main_content_wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  padding-bottom: 0;
}

#main_content {
  position: relative;
  width: 100%;
  padding: 0 5%;
}

.content_item {
  width: 100%;
  border-radius: 3px;
  background-color: #fff;
  padding: 32px 48px;
  box-shadow: 0 0 4px 0 rgba(111, 117, 135, 0.35);
  margin-bottom: 40px;
}

.content_title {
  color: #fff;
  font-size: 2em;
}

.item_title {
  margin-bottom: 20px;
}
.item_title > span {
  font-size: 1.5em;
  font-weight: 450;
}
.item_title::after {
  width: 32px;
  height: 4px;
  content: "";
  display: block;
  margin-top: 9px;
  background-color: #eeab0a;
}

.item_title_wrapper {
  display: flex;
  flex-direction: row;
}
.content_update_wrapper {
  margin-left: auto;
}
.content_update_wrapper > button:hover {
  filter: brightness(90%);
}

.modal_bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;

  width: 100%;
  height: 100%;

  padding-left: 18%;

  display: none;
  background-color: rgba(48, 58, 75, 0.8);
}

.modal_container {
  margin: 15vh auto 0;
  height: unset;
  padding: 32px 42px;
  box-shadow: 0 0 4px 0 rgba(111, 117, 135, 0.35);
  border-radius: 3px;
  background-color: #fff;
  width: 900px;
}

.modal_label {
  margin-bottom: 10px;
  color: #7e8499;
  font-size: 22px;
}

.modal_content_title {
  height: 40px;
  font-size: 1.2em;
  font-weight: 450;
}

.btn {
  border-radius: 8px;
  background-color: blueviolet;
  width: 160px;
  height: 40px;
  border: none;
  color: #fff;
  font-size: 1.1em;
  font-weight: 550;
  cursor: pointer;
}
.btn:hover {
  filter: brightness(90%);
}
.btn.cancel {
  color: blueviolet;
  background-color: #fff;
  border: 1px blueviolet solid;
}
.btn:disabled {
  background-color: #7e8499;
  border: none;
  cursor: default;
}
.btn:disabled:hover {
  filter: brightness(100%);
}

#main_wrapper {
  height: 100vh;
  padding: 0;
  display: flex;
}

#pageDiv {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  padding: 5px 0;
}

#pageDiv button {
  font-size: 1.2em;
  width: 35px;
  cursor: pointer;
}

.navi_btn {
  border: none;
  background-color: transparent;
  padding-bottom: 3px;
}

.page_btn {
  border: none;
  background-color: transparent;
}

#now-page {
  background-color: blueviolet;
  border-radius: 50%;
  color: #fff;
}

#pageDiv button:disabled {
  cursor: default;
}

/* 검색창 css */
.search_div {
  margin-left: 10px;
  margin-top: 5px;
}

.search_div > form {
  display: flex;
  column-gap: 5px;
}

.search_div > form > button {
  width: 40px;
  height: 30px;
  padding: 3px;
}
