#cart-main {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1200px 1fr;
    padding: 80px 0;
}

#nothing-main-grid {
    display: grid;
    width: 1200px;
    grid-template-rows: 1fr 480px;
    row-gap: 40px;
}

/* nothing games css */

#nothing-games-grid {
    display: grid;
    grid-template-columns: 755px 252px;
    column-gap: 193px;
}

#nothing-content {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

#nothing-content > * {
    margin: 0;
    display: flex;
    align-items: center;
}

#nothing-title {
    font-size: 32px;
    font-weight: bold;
	color: white;
}

#go-shopping-btn {
    width: 215px;
    height: 48px;
    display: flex;
    align-items: center;
    background-color: #F22349;
    border-radius: 40px;
    justify-content: center;
    color: white;
    font-weight: 600;
}

#go-shopping-btn:hover {
    background-color: #fcee27;
    color: black;
}

#cart-bottom-grid {
    display: grid;
    grid-template-rows: 24px 430px;
    padding-top: 40px;
    row-gap: 24px;
}

h3 {
    margin: 0;
	font-size: 24px;
	color: white;
}

#week-best-grid { 
    display: grid;
    grid-template-columns: repeat(5, 232px);
    column-gap: 10px;
}

.new-game-link {
	display: grid;
	grid-template-rows: 330px 100px;
}

.week-best-img {
	width: 100%;
	height: 330px;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.week-best-info {
	width: 100%;
	height: 100px;
	display: grid;
	grid-template-rows: 24px 24px 1fr;
	padding: 10px;
}

#week-best-grid > * {
    background-color: #000000;
    border-radius: 20px;
}

.new-game-title {
	color: white;
	font-weight: 600;
}

.new-game-price-info {
	display: grid;
	column-gap: 10px;
	grid-template-rows: 30px 1fr;
}

.new-game-price-info > * {
	display: flex;
	justify-content: right;
}

.new-game-price {
	color: white;
	font-size: 20px;
	text-decoration: line-through;
	align-items: flex-end;
	display: flex;
	padding-right: 10px;
}

.new-game-discount {
	color: #F22349;
	font-weight: 600;
	display: flex;
	justify-content: right;
    align-items: center;
}

.new-game-discount > * {
	width: 50px;
	background-color: white;
	border-radius: 8px;
	align-items: center;
    justify-content: center;
    display: flex;
}

.new-game-discount-price {
	color: #F22349;
	font-size: 24px;
	font-weight: 600;
}

/* games cart css */
#cart-main-grid {
    display: grid;
    grid-template-columns: 750px 1fr;
    column-gap: 40px;
    margin-bottom: 40px;
    position: relative;
}

#cart-content-grid {
    display: grid;
    grid-template-rows: 24px 1fr 520px;
    row-gap: 24px;
}

#games-info-grid {
    display: grid;
    grid-template-columns: 120px 1fr;
    row-gap: 5px;
	column-gap: 5px;
}

#games-info-grid > * {
	height: 160px;
	background-color: white;
}

.game-img {
	width: 100%;
	height: 100%;
	text-align: center;
	object-fit: cover;
	border-radius: 8px;
}

.game-content {
	border-radius: 8px;
	padding: 16px 26px;
	display: grid;
	grid-template-rows: 30px 1fr 24px;
	row-gap: 10px;
}

.game-name {
	font-size: 24px;
	font-weight: bold;
	color: black;
}

.game-select-form {
	padding-top: 20px;
	display: grid;
	grid-template-columns: 50px 100px;
	column-gap: 10px;
}

.game-select-form > * {
	font-size: 15px;
	font-weight: 600;
}

.game-select-form > :nth-child(2) {
	color: #35C1CF;
}

.game-content-bottom {
	display: grid;
	grid-template-columns: 50px 1fr 80px;
}

.options-ok:hover {
	cursor: pointer;
}

.plat-form-select {
	display: grid;
	grid-template-columns: 100px 20px;
	position: relative;
}

.plat-form-select > :first-child {
	display: flex;
	justify-content: center;
}

.plat-form-options {
	box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
	background: #ffffff;
	width: 150px;
	position: absolute;
	font-weight: 100;
	color:#636363;
	grid-template-rows: 2fr;
	right: -25px;
    top: 40px;
}

.plat-form-options::after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 11px solid transparent;
	border-bottom-color: #ffffff;
	border-top: 0;
	margin-left: -11px;
	margin-top: -11px;
}

.plat-form-options > * {
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.plat-form-options > *:hover {
	cursor: pointer;
	background-color: #35C1CF4D;
}

.plat-form-select > * {
	font-size: 15px;
}

.cart-delete {
	display: grid;
	grid-template-columns: 1fr 32px;
}

.cart-delete:hover {
	cursor: pointer;
}

.cart-delete > * {
	font-size: 16px;
	color: black;
}

.game-price {
	font-size: 16px;
}

.cart-delete > :last-child {
	text-decoration: underline;
}

/* nav css */
#nav-bar {
	display: grid;
	grid-template-rows: 24px 342px 112px;
	row-gap: 24px;
	position: sticky;
	top: 214px;
	height: min-content;
}

#nav-grid {
	display: grid;
	grid-template-rows: 300px 42px;
}

#summary-grid {
	display: grid;
	grid-template-rows: 30px 40px 25px 1fr 24px;
	padding: 24px;
	background-color: white;
	row-gap: 10px;
	border-bottom: #e5e8f0 solid 2px;
	border-radius: 8px;
}

#summary-grid > :first-child {
	display: grid;
	grid-template-columns: 95px 1fr;
	column-gap: 150px;
	border-bottom: 1px black dashed;
}

#summary-grid > :first-child > * {
	font-size: 16px;
}

#summary-grid > :nth-child(2) {
	display: grid;
	grid-template-columns: 50px 71px 1fr 1fr;
}

#summary-grid > :nth-child(2) > * {
	display: flex;
	align-items: center;
}

#summary-grid > :nth-child(2) > :first-child {
	font-size: 20px;
	font-weight: 600;
}

#summary-grid > :nth-child(2) > :nth-child(2) {
	font-size: 10px;
	display: flex;
	align-items: center;
	color: #9d9d9d;
	font-weight: 600;
}

#summary-grid > :nth-child(3) {
	display: grid;
	grid-template-columns: 200px 1fr;
	column-gap: 100px;
}

#summary-grid > :nth-child(3) > * {
	display: flex;
	align-items: center;
	font-size: 16px;
}

#summary-grid > :nth-child(3) > :first-child {
	text-decoration: underline;
}

#summary-grid > :nth-child(3) > :last-child {
	color: #f2c800;
	font-weight: 600;
}

.price {
	display: flex;
	justify-content: right;
}

#summary-grid > :nth-child(4) {
	padding: 20px 0;
}

#check-out-btn {
	display: flex;
	height: 100%;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	background-color: #F22349;
	color: white;
	border-radius: 30px;
	font-weight: 600;
	width: 100%;
    border: 0;
}

#check-out-btn:hover {
	cursor: pointer;
	background-color: #fcee27;
    color: black;
}

#summary-grid > :nth-child(5) {
	display: flex;
	justify-content: center;
	font-weight: 600;
	text-decoration: underline;
	color: black;
	font-size: 16px;
}

#nav-grid > :nth-child(2) {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: underline;
	padding: 16px;
	border-radius: 8px;
}

#refund-btn {
	color: black;
	font-size: 14px;
	font-weight: 100;
}

#refund-btn:hover {
	cursor: pointer;
}

#safe-deal-grid {
	padding: 24px;
	display: grid;
	grid-template-rows: 24px 1fr;
}

#safe-deal-grid > :first-child {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	color: white;
}

#cart-secured-payment {
	display: grid;
	grid-template-columns: repeat(7, 38px);
	column-gap: 5px;
	padding-top: 10px;
	margin: 0 auto;
}

#cart-pick-grid {
	display: grid;
	grid-template-columns: repeat(3, 232px);
	column-gap: 10px;
}

#cart-pick-grid > * {
    background-color: #000000;
    border-radius: 20px;
}

/*
body {
	overflow: hidden;
	height: 100%;
}
*/

#refund-popup {
	height: 100%;
	width: 100%;
	z-index: 90;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.60);
}

#refund-content {
	width: 650px;
	height: 600px;
	background-color: white;
	display: grid;
	margin: 140px auto;
	border-radius: 10px;
	grid-template-rows: 20% 80%;
}

#refund-top {
	position: relative;
}

#refund-big-icon  {
	height: 100%;
	font-size: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#refund-close-btn {
	font-size: 32px;
	position: absolute;
	top: 20px;
	right: 20px;
}

#refund-close-btn:hover {
	cursor: pointer;
}

#refund-bottom {
	padding: 35px;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
}

#refund-bottom > :first-child {
	font-size: 24px;
	font-weight: bold;
}

.refund_innder > * {
	font-size: 16px;
	margin-bottom: 30px;
	line-height : 30px;
}

.refund_innder > :nth-child(3) {
	color:#9d9d9d;
}

.refund-none {
	display: none;
}

.display-none {
	display: none;
}

.display-grid {
	display: grid;
}